.stop-scrolling {
  overflow: hidden;
}

.btn-transparent-white {
  transition: border-color 0.3s ease;
}

.btn-transparent-white.tw-border-green-500 {
  border-color: #22c55e;
}

.scale-animation {
  transition: transform 0.3s ease;
}

.scale-animation.is-watching {
  transform: scale(1.2);
}

.valid-password {
  color: green;
  font-weight: bold;
}

button {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.clickable-icon {
  cursor: pointer;
}

.underline:hover {
  text-decoration: underline;
}

option {
  background-color: #172431;
}
.page-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.arrow-slider:hover {
  background-color: #f2ca16;
}
.btn-white {
  padding: 0.625rem 0.75rem;
  color: black;
  background-color: white;
  border-radius: 0.25rem;
  font-weight: 700;
}
.btn-white:hover,
.btn-dark:hover {
  background-color: #f2ca16;
}
.btn-green {
  padding: 0.625rem 0.75rem;
  color: white;
  background-color: #53944f;
  border-radius: 0.25rem;
  font-weight: 700;
  cursor: pointer;
}
.btn-blue {
  padding: 0.625rem 0.75rem;
  color: white;
  background-color: #156cc3;
  border-radius: 0.25rem;
  font-weight: 700;
  cursor: pointer;
}
.btn-yellow {
  padding: 0.625rem 0.875rem;
  color: black;
  background-color: #f2ca16;
  border-radius: 0.25rem;
  font-weight: 700;
}
.btn-yellow:hover,
.btn-yellow-thin:hover {
  background-color: #ebcb48;
}
.btn-yellow-thin {
  padding: 0.375rem 0.75rem;
  color: black;
  background-color: #f2ca16;
  border-radius: 0.25rem;
  font-weight: 700;
}
.btn-dark {
  padding: 16px 24px;
  color: white;
  background-color: #172431;
  border-radius: 0.25rem;
  font-weight: 700;
}
.btn-transparent {
  padding: 16px 24px;
  color: black;
  background-color: none;
  border-radius: 0.25rem;
  font-weight: 500;
  border: 1px solid black;
}
.btn-transparent:hover {
  background-color: #0f1923;
  color: white;
  font-weight: 700;
}
.btn-transparent-white {
  padding: 10px 14px;
  color: white;
  background-color: none;
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid white;
}
.btn-transparent-white:hover {
  background-color: #0f1923;
  color: white;
  font-weight: 700;
}

.btn-transparent-yellow {
  padding: 10px 14px;
  color: #f2ca16;
  background-color: none;
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid #f2ca16;
}
.btn-transparent-yellow:hover {
  background-color: #f2ca16;
  color: #0f1923;
  font-weight: 700;
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.black-filter {
  filter: brightness(0) saturate(100%) invert(5%) sepia(33%) saturate(1274%)
    hue-rotate(171deg) brightness(96%) contrast(91%);
}

.yellow-filter {
  filter: brightness(0) saturate(100%) invert(94%) sepia(16%) saturate(6020%)
    hue-rotate(351deg) brightness(101%) contrast(90%);
}

.black-check-filter {
  filter: brightness(0) saturate(100%) invert(6%) sepia(10%) saturate(3039%)
    hue-rotate(169deg) brightness(97%) contrast(93%);
}
.clip-path {
  clip-path: polygon(
    50% 0%,
    54% 17%,
    100% 17%,
    100% 100%,
    0 100%,
    0 17%,
    46% 17%
  );
}

/* custon scrollbar style */
/* ::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #f2ca16;
}

::-webkit-scrollbar-track {
  background: gray;
} */

/* remove scrollbar keep functionality */
/* ::-webkit-scrollbar {
  display: none;
}

:root {
  -ms-overflow-style: none;
  scrollbar-width: none; 
} */

#search-box::-webkit-scrollbar,
#make-dropdown::-webkit-scrollbar {
  width: 8px;
}

#search-box::-webkit-scrollbar-thumb,
#make-dropdown::-webkit-scrollbar-thumb {
  background: #314150;
  border-radius: 8px;
}

.my-wagers-menu::-webkit-scrollbar,
.watchlist-menu::-webkit-scrollbar {
  display: none;
}

.my-wagers-menu,
.watchlist-menu {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.drop-down-custom-height {
  height: calc(100vh - 56px);
}

.watchlist-custom-height {
  max-height: calc(100vh - 296px);
}

/**
 * ----------------------------------------
 //* animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 //* animation loading
 * ----------------------------------------
 */
svg {
  stroke-dasharray: 269.7405090332031px;
  stroke-dashoffset: 0;
  animation: heartBeat 5s linear reverse infinite;
  transform: rotate(-90deg);
}

@keyframes heartBeat {
  50% {
    stroke-dashoffset: 269.7405090332031px;
  }
  50.01% {
    stroke-dashoffset: -269.7405090332031px;
  }
}

/**
 * ----------------------------------------
 //* animation rotating
 * ----------------------------------------
 */
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .section-container {
    padding-left: 64px;
    padding-right: 64px;
  }

  .load-image-sizing {
    width: calc(100% - 392px);
  }
}
@media screen and (min-width: 1536px) {
  .section-container {
    width: 1440px;
  }
}

@media screen and (max-width: 768px) {
  .live-page-image-sizing {
    height: calc(100vh - 592px);
  }
}

/* 
SECTION-CONTAINER
tw-w-screen tw-px-4 md:tw-px-16 tw-pt-8 md:tw-pt-16 2xl:tw-w-[1440px] */

.live-page-shadow {
  box-shadow: 0px 8px 8px 0px #0000001F;
}

.section-one {
	background: linear-gradient(-45deg, #b91f6c,#2b3b6c,#1a2c3d);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wager-cycle {
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.pic {
  -webkit-animation: fade 10s infinite;
  animation: fade 10s infinite;
}

.pic1 {
  animation-delay: 0s;
}

.pic2 {
  animation-delay: 2s;
}

.pic3 {
  animation-delay: 4s;
}

.pic4 {
  animation-delay: 6s;
}

.pic5 {
  animation-delay: 8s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}