@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #0f1923;
  color: white;
  box-sizing: border-box;
  --pagination-color: #FFFFFF;
  --pagination-active-bg: #F2CA16;
  --pagination-hover-bg: #f2ca16ab;
  --pagination-hover-color: #000000;
  --pagination-active-color: #000000;
  --pagination-bg: #13202D;
}

/* @font-face {
  src: url("../../../public/fonts/eurostarblackextended.ttf");
  font-family: "euro-star-black-extended";
} */

.scale-tournament-background-on-hover {
  position: relative;
}

.scale-tournament-background-on-hover::after {
  background-color: #1A2C3D;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  transition: transform 250ms;
}

.scale-tournament-background-on-hover:hover::after {
  transform: scale(1.1);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
